@import "tailwindcss";

:root {
  --background: #F8FAFC;
  --foreground: #1e293b;
  --clinical-blue: #005596;
}

@theme {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-clinical-blue: var(--clinical-blue);
}

.custom-scrollbar::-webkit-scrollbar {
  width: 6px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #e2e8f0;
  border-radius: 10px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #cbd5e1;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-inter), Helvetica, sans-serif;
}
